<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Add Pokemon</title>
</head>
<body>
    <div class="title">
        <h1>Add Pokemon</h1>
    </div>
    <div class="input-section">
        <form action="/auth/add" method = "POST">
            <input type="text" name = "name" placeholder = "Name" required>
            <input type="text" name = "type" placeholder = "Type" required>
            <input type="text" name = "area" placeholder = "Area" required>
            <button>Add</button>
        </form>
    </div>
    <a href="/">Back to Pokedex</a>
</body>
</html>