<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pokedex</title>
</head>
<body>
    <div class="title">
        <h1>Pokedex</h1>
    </div>
    <div class="add">
        <a href="/add">Add Pokemon</a>
    </div>
    <div class="search-section">
        <form action="">
            <input type="text" name = "pokemon" placeholder = "Search for a Pokemon..." required>
            <button>Search</button>
        </form>
    </div>
   <div class="pokemon">
        <% pokemon.forEach(name => { %>
            <a href=""><%= name.name %></a>
        <% }) %>
   </div>
</body>
</html>