<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= pokemon[0].name %></title>
</head>
<body>
    <div class="link">
        <a href="/">Back to Pokedex</a>
    </div>
    <div class="title">
        <h1><%= pokemon[0].name %></h1>
    </div>
    <div class="info">
        <div class="type">
            <h3>Type:</h3>
            <p><%= pokemon[0].type %></p>
        </div>
        <div class="area">
            <h3>Area Found:</h3>
            <p><%= pokemon[0].area %></p>
        </div>
    </div>
</body>
</html>